<div class="container mt-4">
  <div class="row">
    <!-- Coluna da esquerda -->
    <div class="col-md-6 d-flex flex-column">
      <!-- Card de detalhes -->
      <div class="card assessment-card flex-grow-1">
        <div class="card-header text-white text-center">Bioimpedance Assessment Selected</div>
        <div class="card-body" *ngIf="selectedAssessment; else noSelection">
          <p><strong>Date:</strong> {{ selectedAssessment.createdAt | date: 'dd/MM/yyyy' }}</p>
          <p><strong>Age:</strong> {{ selectedAssessment.age}}</p>
          <p><strong>Height:</strong> {{ selectedAssessment.height}} cm</p>
          <p><strong>Body Weight:</strong> {{ selectedAssessment.bodyWeight}} kg</p>
          <p><strong>Body Mass Index:</strong> {{ selectedAssessment.bmi}}</p>
          <p><strong>Ideal Weight:</strong> {{ selectedAssessment.idealWeight}} kg</p>
          <p><strong>Body Fat Percentual:</strong> {{ selectedAssessment.bodyFatPercentual}} %</p>
          <p><strong>Ideal Body Fat Percentual:</strong> {{ selectedAssessment.idealBodyFatPercentual}} %</p>
          <p><strong>Body Mass Percentual:</strong> {{ selectedAssessment.bodyMassPercentual}} %</p>
          <p><strong>Vesceral Fat Index:</strong> {{ selectedAssessment.visceralFatIndice}}</p>
          <p><strong>Basal Metabolism Rate Calories:</strong> {{ selectedAssessment.basalMetabolismRateCalories}} kcal</p>
          <p><strong>Notes:</strong> {{ selectedAssessment.notes}}</p>
        </div>
        <ng-template #noSelection>
          <div class="text-muted p-3">Select some Bioimpedance assessment.</div>
        </ng-template>
      </div>

      <!-- Gráfico Body Weight -->
      <div class="card assessment-card mt-3">
        <div class="card-header text-white text-center">Body Weight Evolution</div>
        <div class="card-body" style="height: 350px;">
          <canvas baseChart
                  [data]="bodyWeight"
                  [options]="lineChartOptions"
                  [type]="'line'">
          </canvas>
        </div>
      </div>
    </div>

    <!-- Coluna da direita -->
    <div class="col-md-6 d-flex flex-column">
      <!-- Card de histórico -->
      <div class="card assessment-card flex-grow-1">
        <div class="card-header text-white text-center">Bioimpedance History</div>
        <div class="card-body p-0 history-list">
          <ul class="list-group list-group-flush">
            <li 
              class="list-group-item list-item-click d-flex justify-content-between align-items-center"
              *ngFor="let assessment of assessments"
              (click)="selectAssessment(assessment)"
              [class.active-item]="assessment.id === selectedAssessment?.id"
            >
              <span>{{ assessment.createdAt | date: 'dd/MM/yyyy' }}</span>
              <button 
                class="btn btn-sm btn-outline-danger delete-btn"
                (click)="deleteAssessment(assessment.id); $event.stopPropagation()"
              >
                <i class="bi bi-trash">delete</i> <!-- ícone bootstrap -->
              </button>
            </li>
          </ul>

        </div>
      </div>

      <!--  Body Fat Percentual -->
      <div class="card assessment-card mt-3">
        <div class="card-header text-white text-center">Body Fat Percentual</div>
        <div class="card-body" style="height: 350px;">
          <canvas baseChart
                  [data]="bodyFatPercentual"
                  [options]="lineChartOptions"
                  [type]="'line'">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
