.athlete-form-card {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  color: #1e293b;
  border-radius: 14px;
  padding: 2.5rem 3rem;
  margin: 2rem auto;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  .description-text{
  font-weight: bold;
}


  h3 {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  hr {
    border: 1px solid #e5e7eb;
    margin-bottom: 2rem;
  }

  .form-label {
    font-weight: 500;
  }

  .form-control {
    border-radius: 10px;
    border: 1px solid #d1d5db;
    padding: 0.75rem 1rem;
    margin-top: 0.25rem;
    transition: all 0.3s ease;

    &:focus {
      border-color: #0f172a;
      box-shadow: 0 0 0 3px rgba(15, 23, 42, 0.1);
    }
  }

  .form-check {
    .form-check-input {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
      cursor: pointer;
    }

    .form-check-label {
      font-weight: 500;
      cursor: pointer;
    }
  }

  .btn-primary {
    background: #0f172a;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 2rem;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      background: #131c2b;
    }
  }

  .custom-btn {
  display: inline-block; // mantém só o tamanho do conteúdo
  min-width: 120px;      // largura mínima para não ficar muito pequeno
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: darken(#0d6efd, 5%);
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  }
}


  @media (max-width: 768px) {
    padding: 1.5rem 1rem;
  }
}

